* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    height: 100vh !important;
    background-size: cover;
    background-color: #c7c4c4;
    overflow: hidden;
}

.navicon {
    height: 24px;
}

.iconquestion {
    font-family: Calibri;

}

.profilebtn {
    font-size: 16px;
    background: none;
}

.searchinput {
    outline: none;
    background: none;
    border: none;
}


.sidenav {
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 !important;
    background-color: #f0f0f0;
    overflow-y: scroll;
}

.navbarcontainer {
    background-color: #f0f0f0;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenavicons {
    font-size: 100%;
    font-weight: lighter;

}

.sidenav-iconame {
    font-size: 50%;
    margin-bottom: 0;

}

.sidenaviconimage {
    height: 24px;
}

@media (max-width:768px) {
    .sidenav {
        height: 100% !important;
    }

    .sidenavicons {
        width: 60%;
        height: 40%;
        font-size: 80%;

    }
}

@media (max-width:368px) {
    .sidenavicons {
        height: 50%;
    }

}

.sidenav div {
    width: 100% !important;
    border-left: solid 4px transparent;
    padding-bottom: 10px;
    padding-top: 10px;


}

.sidenav div:hover {
    background-color: rgb(232, 230, 230);
    border-left-color: red;
    cursor: pointer;
}

.contentcontainer {
    background-color: #f0f0f0;
}

.bdy-con {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-top-left-radius: 10px;
    height: 92%;

}

.notifycon {
    background: linear-gradient(to right, #fbe6e8, #cbddff);
    border-top-left-radius: 10px;
    min-height: 8%;

}

.notificationFont {
    font-size: 14px;
    padding-left: 20px;
}

.crossicon {
    font-size: 20px;
}

.mainContentContainer {
    height: 90%;
    background-color: #f0f0f0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and older Edge */
    -ms-overflow-style: none;
}

.mainContentContainer::-webkit-scrollbar {
    display: none;
}

.navbarcontainer {
    height: 8%;
}

.addAppscontainer {
    height: 20%;
}

.cardstyle {
    align-items: center !important;
    justify-content: center !important;
    border-radius: 12px !important;
}

.cardstyle img {
    width: 60%;
}

.cardstyle h6 {
    font-size: 70%;
}

@media (max-width:768px) {
    .cardstyle {
        height: 140px;
    }

    .cardstyle img {
        width: 70% !important;
        height: 20%;

    }

    .cardstyle h6 {
        font-size: 60%;
    }
}

.previouslyaddedcard {
    height: 70px;
    align-items: center;
    margin-top: 10px;
}

.previouslyaddedcard:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

.previouslyaddedcard p {
    font-size: 16px;
}

.previouslyaddedcard img {
    height: 40px !important;
}

.addAppscontainer h4 {
    font-size: 22px;
}

.addAppscontainer button {
    font-size: 12px;
}

.btn-con button {
    font-size: 12px;
}

.btn-con button:hover {
    background-color: black;
    color: white;
}

@media(max-width:320px) {
    .sidenav {
        display: none !important;
    }

    .contentcontainer {
        width: 100% !important;
    }
}

.card-img {
    height: 60%;
    width: 60% !important;
}

@media (max-width:560px) {
    .card-img {
        height: 60% !important;
        width: 50% !important;
    }

}